<ion-header [translucent]="true">
  <ion-toolbar class="encabezado">
    <ion-grid>
      <ion-row>
        <ion-col class="head-img" size-sm="12" size-md="3" size-lg="3" size-xl="3" size="12">
          <img src="assets/img/Logo_INEGI.jpg" width="100%" alt="Logo de INEGI" title="Logo de INEGI" />
        </ion-col>
        <ion-col class="head-head" size-sm="12" size-md="9" size-lg="9" size-xl="9" size="12">
          <h3>Ordenamiento Territorial y Desarrollo Urbano</h3>
          <h3>
            <span class="head-title-G">G</span>
            <span class="head-title-all">losario de Términos Básicos</span>
          </h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="head-subtitle">
          Introducción
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="content" size="12">
        La integración de este glosario se realizó a través de una investigación exhaustiva en diversas fuentes nacionales e internacionales, utilizadas por organismos o instituciones que efectúan actividades dirigidas al Ordenamiento Territorial y al Desarrollo Urbano, con la finalidad de concentrar en un solo documento aquellos conceptos de interés que coadyuven a la mejor comprensión de términos utilizados en los temas antes referidos.
        <br/><br/>
        Para la conformación de este producto, se analizaron ejemplares de diversos
        Programas de Ordenamiento Territorial y de Desarrollo Urbano, documentos
        normativos, así como glosarios de diferentes instituciones, con el fin de
        identificar los temas de mayor presencia y de esta manera seleccionar las
        categorías y variables que dieron paso a la conformación de los conceptos
        presentados.
        <br/><br/>
        Así pues, se contemplan en orden alfabético 430 conceptos
        considerados de mayor importancia, puesto que son los de uso recurrente, de
        mayor practicidad y fácil comprensión para los usuarios, tomando en cuenta
        que fueron documentadas sus fuentes bibliográficas de origen.
        <br/><br/>
        Asimismo, es
        importante referir que para algunos conceptos fue pertinente la elaboración
        de su definición al no encontrarse en alguno de los insumos base para la
        conformación de este glosario. Además, cabe señalar que el periodo de
        análisis e investigación de los conceptos tiene un corte de actualización a
        diciembre de 2022.
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
