<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="introduccion" href="/tabs/introducción">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Introducción</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="terminos" href="/tabs/terminos">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>Términos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="documento" href="/tabs/documento">
      <ion-icon aria-hidden="true" name="document-text"></ion-icon>
      <ion-label>Documento</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
